<!DOCTYPE html>
<html lang="zh-CN">
<head>
{{template "head" .}}
</head>
<body>
{{template "header" .}}
<main>
    {{template "menu" .}}
    <div class="main-container">
        <div class="main-header">
            <div class="main-title">{{.title}}</div>
            <div class="main-path">
                <a href="/admin">首页</a>
                <i class="bi-chevron-right"></i>
                <a href="/admin/user/list">用户管理</a>
                <i class="bi-chevron-right"></i>
                <span>{{.title}}</span>
            </div>
        </div>
        <div class="main-content box-shadow">
            <form method="post" action="{{.uri}}">
                <input type="hidden" name="{{.csrfTokenKey}}" value="{{.csrfTokenValue}}" >
                <table class="form-table">
                    <tr>
                        <td class="td1" style="width: 180px;">
                            <label for="username" class="form-label">用户名</label>
                        </td>
                        <td>
                            <input type="text" id="username" name="username" class="form-control" {{if .user.Username}}value="{{.user.Username}}"{{end}} placeholder="请输入">
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">
                            <label for="name" class="form-label">姓名</label>
                        </td>
                        <td>
                            <input type="text" id="name" name="name" class="form-control" {{if .user.Name}}value="{{.user.Name}}"{{end}} placeholder="请输入">
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">
                            <label for="password" class="form-label">密码</label>
                        </td>
                        <td>
                            <input type="text" id="password" name="password" class="form-control" {{if .user.Password}}value="{{.user.RawPassword}}"{{end}} placeholder="请输入">
                            {{if .user.Id}}
                            <div class="form-text">留空表示保持原密码不变，如需修改请输入新密码</div>
                            {{end}}
                        </td>
                    </tr>
                    <tr>
                        <td class="td1">
                            <label for="status" class="form-label">状态</label>
                        </td>
                        <td>
                            <div class="form-check form-switch">
                                <input type="checkbox" id="status" name="status" class="form-check-input" value="1" {{if eq .user.Status 1}}checked="checked"{{end}}>
                                <label class="form-check-label" for="status">启用</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="td1"></td>
                        <td><button type="submit" class="btn btn-primary">{{if .user.Id}}保存{{else}}添加{{end}}</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</main>
{{template "footer" .}}
</body>
</html>