<!DOCTYPE html>
<html lang="zh-CN">
<head>
{{template "head" .}}
</head>
<body>
{{template "header" .}}
<main>
    {{template "menu" .}}
    <div class="main-container">
        <div class="main-header">
            <div class="main-title">{{.title}}</div>
            <div class="main-path">
                <a href="/admin">首页</a>
                <i class="bi-chevron-right"></i>
                <a href="/admin/role/list">角色管理</a>
                <i class="bi-chevron-right"></i>
                <span>{{.title}}</span>
            </div>
        </div>
        <div class="main-content box-shadow">
            <div class="main-top">
                <div class="main-top-left"></div>
                <div class="main-top-right">
                    <a type="button" class="btn btn-primary" href="/admin/role-service/edit?roleId={{.role.Id}}">分配服务</a>
                </div>
            </div>
            <div class="table-container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 80px; min-width: 80px;">ID</th>
                            <th scope="col" style="min-width: 100px;">服务标识</th>
                            <th scope="col" style="min-width: 100px;">服务名称</th>
                            <th scope="col" style="width: 220px; min-width: 220px;">创建时间</th>
                            <th scope="col" style="width: 300px; min-width: 300px;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .roleServices}}
                        <tr>
                            <td>{{.Id}}</td>
                            <td>{{.GetServiceKey}}</td>
                            <td>{{.GetServiceName}}</td>
                            <td>{{.GetCreatedAt}}</td>
                            <td>
                                <a class="btn btn-sm btn-outline-primary no-border" href="/admin/role-api-item/edit?roleServiceId={{.Id}}&roleId={{.RoleId}}">接口权限</a>
                                <a class="btn btn-sm btn-outline-primary no-border" href="/admin/role-data-item/edit?roleServiceId={{.Id}}&roleId={{.RoleId}}">数据权限</a>
                                <a class="btn btn-sm btn-outline-primary no-border" href="/admin/role-menu-item/edit?roleServiceId={{.Id}}&roleId={{.RoleId}}">菜单权限</a>
                                <form class="delete-form" method="post" action="/admin/role-service/delete">
                                    <input type="hidden" name="{{$.csrfTokenKey}}" value="{{$.csrfTokenValue}}" >
                                    <input type="hidden" name="id" value="{{.Id}}">
                                    <input type="hidden" name="roleId" value="{{.RoleId}}">
                                    <a class="btn btn-sm btn-outline-danger no-border" href="javascript:void(0);">取消</a>
                                </form>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
                {{if not .roleServices}}
                    <div class="no-data">
                        <div class="no-data-icon"><i class="bi-file-earmark-x"></i></div>
                        <div class="no-data-text">暂无数据</div>
                    </div>
                {{end}}
                <ul class="pagination">
                    {{.pager}}
                </ul>
            </div>
        </div>
    </div>
</main>
{{template "footer" .}}
</body>
</html>