<!DOCTYPE html>
<html lang="zh-CN">
<head>
{{template "head" .}}
</head>
<body>
{{template "header" .}}
<main>
    {{template "menu" .}}
    <div class="main-container">
        <div class="main-header">
            <div class="main-title">{{.title}}</div>
            <div class="main-path">
                <a href="/admin">首页</a>
                <i class="bi-chevron-right"></i>
                <a href="/admin/user/list">用户管理</a>
                <i class="bi-chevron-right"></i>
                <span>{{.title}}</span>
            </div>
        </div>
        <div class="main-content box-shadow">
            <div class="main-top">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/user-role/list?userId={{.user.Id}}">角色</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/user-service/list?userId={{.user.Id}}">补充权限</a>
                    </li>
                </ul>
                <a type="button" class="btn btn-primary main-top-btn" href="/admin/user-role/edit?userId={{.user.Id}}">分配角色</a>
            </div>
            <div class="table-container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 80px; min-width: 80px;">ID</th>
                            <th scope="col">角色标识</th>
                            <th scope="col">角色名称</th>
                            <th scope="col" style="width: 220px; min-width: 220px;">创建时间</th>
                            <th scope="col" style="width: 80px; min-width: 80px;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .userRoles}}
                        <tr>
                            <td>{{.Id}}</td>
                            <td>{{.GetRole.Key}}</td>
                            <td>{{.GetRole.Name}}</td>
                            <td>{{.GetCreatedAt}}</td>
                            <td>
                                <form class="delete-form" method="post" action="/admin/user-role/delete">
                                    <input type="hidden" name="{{$.csrfTokenKey}}" value="{{$.csrfTokenValue}}" >
                                    <input type="hidden" name="id" value="{{.Id}}">
                                    <input type="hidden" name="userId" value="{{.UserId}}">
                                    <a class="btn btn-sm btn-outline-danger no-border" href="javascript:void(0);">取消</a>
                                </form>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
                {{if not .userRoles}}
                    <div class="no-data">
                        <div class="no-data-icon"><i class="bi-file-earmark-x"></i></div>
                        <div class="no-data-text">暂无数据</div>
                    </div>
                {{end}}
                <ul class="pagination">
                    {{.pager}}
                </ul>
            </div>
        </div>
    </div>
</main>
{{template "footer" .}}
</body>
</html>