{{define "footer"}}
<script src="/assets/jquery/jquery-3.6.0.min.js"></script>
<script src="/assets/bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/main.js"></script>
{{end}}