<!DOCTYPE html>
<html lang="zh-CN">
<head>
{{template "head" .}}
</head>
<body>
{{template "header" .}}
<main>
    {{template "menu" .}}
    <div class="main-container">
        <div class="main-header">
            <div class="main-title">{{.title}}</div>
            <div class="main-path">
                <a href="/admin">首页</a>
                <i class="bi-chevron-right"></i>
                <a href="/admin/role/list">角色管理</a>
                <i class="bi-chevron-right"></i>
                <span>{{.title}}</span>
            </div>
        </div>
        <div class="main-content box-shadow">
            {{if .menuItems}}
            <form method="post" action="{{.uri}}">
                <input type="hidden" name="{{.csrfTokenKey}}" value="{{.csrfTokenValue}}" >
                <table class="form-table">
                    <tr>
                        <td class="td1">
                        </td>
                        <td>
                            {{range .menuItems}}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="menu_item_id_{{.Id}}" name="menu_item_id[]" value="{{.Id}}" {{if InSlice .Id $.menuItemIds}}checked="checked"{{end}}>
                                    <label class="form-check-label" for="menu_item_id_{{.Id}}">{{.Key}} {{.Name}}</label>
                                </div>
                            {{end}}
                        </td>
                    </tr>
                    <tr>
                        <td class="td1"></td>
                        <td><button type="submit" class="btn btn-primary">保存</button></td>
                    </tr>
                </table>
            </form>
            {{else}}
            <div class="no-data">
                <div class="no-data-icon"><i class="bi-file-earmark-x"></i></div>
                <div class="no-data-text">暂无数据</div>
            </div>
            {{end}}
        </div>
    </div>
</main>
{{template "footer" .}}
</body>
</html>